<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/house_head::head('506-7二手房交易--Beta版')"></head>
<!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->
<body class="ps-loading">
<div class="header--sidebar"></div>


<header class="header">
	<header th:replace="common/house_header::top"></header>
	<div th:if="${session.userInfo==null&&session.adminInfo==null&&session.agencyInfo==null}">
		<nav class="navigation">
			<div class="container-fluid">
				<div class="navigation__column left">
					<div class="header__logo"><a class="ps-logo" th:href="@{/index}"><img th:src="@{/images/logo.png}" alt=""></a></div>
				</div>
				<div class="navigation__column center">

					<ul class="main-menu menu">

						<li class="menu-item menu-item-has-children dropdown"><a th:href="@{/index}">主页</a></li>

					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div th:if="${session.userInfo!=null}">
		<header th:replace="common/user_menu::user_menu"></header>
	</div>
	<div th:if="${session.adminInfo!=null}">
		<header th:replace="common/admin_menu::admin_menu"></header>
	</div>
	<div th:if="${session.agencyInfo!=null}">
		<header th:replace="common/agency_menu::agency_menu"></header>
	</div>
</header>

    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><a th:href="@{/index}">主页</a></li>
            <li class="active">中介公司信息页</li>
        </ul>

          <div class="sidebar col-md-3 col-sm-5">
               <ul class="list-group margin-bottom-25 sidebar-menu">
                  <!--<li class="list-group-item clearfix"><a th:href="agency.html"><i class="fa fa-angle-right"></i> House Property</a></li>-->
                  <li class="list-group-item clearfix"><a href="#"><i class="fa fa-angle-right"></i>中介公司信息页</a></li>
               </ul>
            </div>
            <div class="col-md-9 col-sm-7">
            <div class="content-page">
				<h1>中介公司详情</h1>
				<div class="goods-page">
					<div class="goods-data clearfix">
						<div class="table-wrapper-responsive">
							<table summary="Shopping cart">
								<h2 th:text="${agencyInfo.name}">中介</h2>
								<!--<tr>-->
									<!--<td class="goods-page-stock" th:text="${agencyInfo.getAgencyId()}" id="agencyId">-->
										<!--<strong><span>中介公司：</span>牛逼</strong>-->
									<!--</td>-->
								<!--</tr>-->
								<tr>
									<td class="goods-page-stock" th:text="'所在地区:'+${addressInfo.province!=null?addressInfo.province:''}+' '+${addressInfo.city}+' '+${addressInfo.region}">
										<strong><span>中介公司：</span>牛逼</strong>
									</td>
									<td class="goods-page-stock" th:text="'具体位置:'+${agencyInfo.getLocation()}">
										<strong><span>城市：</span>长沙</strong>
									</td>
								</tr>
								<tr>
									<td  class="goods-page-stock" th:text="'邮件:'+${agencyInfo.getEmail()}">
										<strong><span>邮件：</span>12345@163.com</strong>
									</td>
									<td class="goods-page-price" th:text="'联系电话:'+${agencyInfo.getTelephone()}">
										<strong><span>联系电话：</span>234567</strong>
									</td>
								</tr>
								<tr>
									<td  class="goods-page-stock">
										<strong><span id="state" th:text="${agencyState.state==0?'未通过审核':'已通过审核'}"></span></strong>
									</td>
								</tr>
							</table>

							<button id="change_state_btn" class="btn btn-primary" th:if="${session.adminInfo!=null&&agencyState.state==0}" onclick="updateState()">审核通过</button>
							<div id="msg"></div>
						</div>
					</div>
				</div>
              <hr>
            </div>
          </div>
      </div>
    </div>


<div class="ps-subscribe">
	<div class="ps-container">
		<div class="row">
			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
				<h3><i class="fa fa-envelope"></i>Sign up to Newsletter</h3>
			</div>
			<div class="col-lg-5 col-md-7 col-sm-12 col-xs-12 ">
				<form class="ps-subscribe__form" action="do_action" method="post">
					<input class="form-control" type="text" placeholder="">
					<button>Sign up now</button>
				</form>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ">
				<p>...and receive  <span>$20</span>  coupon for first shopping.</p>
			</div>
		</div>
	</div>
</div>
<div class="ps-footer bg--cover" data-background="/house/images/background/parallax.jpg}">
	<div class="ps-footer__content">
		<div class="ps-container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
					<aside class="ps-widget--footer ps-widget--info">
						<header><a class="ps-logo" href="index.html"><img th:src="@{/images/logo-white.png}" alt=""></a>
							<h3 class="ps-widget__title">Address Office 1</h3>
						</header>
						<footer>
							<p><strong>460 West 34th Street, 15th floor, New York</strong></p>
							<p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
							<p>Phone: +323 32434 5334</p>
							<p>Fax: ++323 32434 5333</p>
						</footer>
					</aside>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
					<aside class="ps-widget--footer ps-widget--info second">
						<header>
							<h3 class="ps-widget__title">Address Office 2</h3>
						</header>
						<footer>
							<p><strong>PO Box 16122 Collins  Victoria 3000 Australia</strong></p>
							<p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
							<p>Phone: +323 32434 5334</p>
							<p>Fax: ++323 32434 5333</p>
						</footer>
					</aside>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
					<aside class="ps-widget--footer ps-widget--link">
						<header>
							<h3 class="ps-widget__title">Find Our store</h3>
						</header>
						<footer>
							<ul class="ps-list--link">
								<li><a href="#">Coupon Code</a></li>
								<li><a href="#">SignUp For Email</a></li>
								<li><a href="#">Site Feedback</a></li>
								<li><a href="#">Careers</a></li>
							</ul>
						</footer>
					</aside>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
					<aside class="ps-widget--footer ps-widget--link">
						<header>
							<h3 class="ps-widget__title">Get Help</h3>
						</header>
						<footer>
							<ul class="ps-list--line">
								<li><a href="#">Order Status</a></li>
								<li><a href="#">Shipping and Delivery</a></li>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Payment Options</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</footer>
					</aside>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
					<aside class="ps-widget--footer ps-widget--link">
						<header>
							<h3 class="ps-widget__title">Products</h3>
						</header>
						<footer>
							<ul class="ps-list--line">
								<li><a href="#">Shoes</a></li>
								<li><a href="#">Clothing</a></li>
								<li><a href="#">Accessries</a></li>
								<li><a href="#">Football Boots</a></li>
							</ul>
						</footer>
					</aside>
				</div>
			</div>
		</div>
	</div>
	<div class="ps-footer__copyright">
		<div class="ps-container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
					<p>Copyright &copy; 2019.CSU-SoftWare All rights reserved.</p>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
					<ul class="ps-social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</main>
</body>

<script th:inline="javascript">
	function updateState() {
	    var agencyId = [[${agencyInfo.getAgencyId()}]];
		$.ajax({
            async:true,
            type:'get',
            url:'/house/agency/updateState',
            data:{
                'agencyId':agencyId
            },
            dataType:'json',
            cache:false,
			success:function (data) {
				$('#msg').html('<font color="green">审核成功</font>');
                $('#change_state_btn').show().delay(1000).fadeOut();
				$('#state').text('已通过审核');
            }
		})
    }
</script>

</html>
