<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/house_head::head('个人中心')"></head>
<!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->
<body class="ps-loading">
<div class="header--sidebar"></div>
<header class="header" style="margin-bottom: 0px; margin-top: 0px;">
	<header th:replace="common/house_header::top"></header>
	<div th:if="${session.userInfo==null&&session.adminInfo==null}">
		<nav class="navigation">
			<div class="container-fluid">
				<div class="navigation__column left">
					<div class="header__logo"><a class="ps-logo" th:href="@{/index}"><img th:src="@{/images/logo.png}" alt=""></a></div>
				</div>
				<div class="navigation__column center">

					<ul class="main-menu menu">

						<li class="menu-item menu-item-has-children dropdown"><a th:href="@{/index}">主页</a></li>

					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div th:if="${session.userInfo!=null}">
		<header th:replace="common/user_menu::user_menu"></header>
	</div>
	<div th:if="${session.adminInfo!=null}">
		<header th:replace="common/admin_menu::admin_menu"></header>
	</div>
</header>

<div class="header-services">
  <div class="ps-services owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="7000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="false" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on">
	<p class="ps-service"><i class="ps-icon-delivery"></i><strong>Free delivery</strong>: Get free standard delivery on every order with Shoe Store</p>
	<p class="ps-service"><i class="ps-icon-delivery"></i><strong>Free delivery</strong>: Get free standard delivery on every order with Shoe Store</p>
	<p class="ps-service"><i class="ps-icon-delivery"></i><strong>Free delivery</strong>: Get free standard delivery on every order with Shoe Store</p>
  </div>
</div>

    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><a th:href="@{/index}">主页</a></li>
            <li class="active">个人中心--修改密码</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar col-md-3 col-sm-5">
            <ul class="list-group margin-bottom-25 sidebar-menu">
				<li class="list-group-item clearfix"><a th:href="@{/user/viewChangePassword}"><i class="fa fa-angle-right"></i>修改密码</a></li>
				<li class="list-group-item clearfix"><a th:href="@{/user/viewChangeUserInfo}"><i class="fa fa-angle-right"></i>完善个人信息</a></li>
				<li class="list-group-item clearfix"><a th:href="@{/getUserHouseList}"><i class="fa fa-angle-right"></i>我的房产</a></li>
              <li class="list-group-item clearfix"><a th:href="@{'/order/getOrdersByUserId?userId='+${session.userInfo.userId}}"><i class="fa fa-angle-right"></i>我的订单</a></li>
            </ul>
          </div>
          <!-- END SIDEBAR -->

          <!-- BEGIN CONTENT -->
            <div class="col-md-9 col-sm-7">
            <h1>我的账户</h1>
            <div class="content-page">
              <h3>修改密码</h3>
				<form action="/house/user/changePassword" method="post" onsubmit="checkForm()">
					输入新密码:<input id="password" name="password" type="password" onblur="passwordIsValid()"/><br/><br/>
					确认新密码:<input id="re-password" name="re-password" type="password" onblur="passwordIsSame()"/><br/><br/><br/>
					<input type="submit" value="确定" class="btn btn-primary"/>
				</form>
              <hr>

            </div>
          </div>


          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
<footer th:replace="common/house_footer::footer"></footer>
</main>
</body>


<script>
    function passwordIsValid() {
        var pass=$("#password").val();

        if(pass.trim().length>0&&pass.trim().length<6)
        {
            $('#passwordMsg').html("<font color='red'>密码强度太低</font>");
            return false;
        }
        else if(pass.trim().length>16) {
            $('#passwordMsg').html("<font color='green'>密码过长</font>");
            return false;
        }
        else
        {
            $('#passwordMsg').html("");
            return true;
        }
    }

    function passwordIsSame(){
        var pass1=$("#password").val();
        var pass2=$("#re-password").val();

        if(pass1!==pass2&&pass2.trim().length>0){
            $('#re-passwordMsg').html("<font color='red'>两次密码不一致</font>");
            return false;
        }
        else if (pass2.trim().length===0)
            return false;
        else if(pass1===pass2&&pass1.trim().length>0)
        {
            $("#re-passwordMsg").html("");
            return true;
        }
    }

    function checkForm()
    {
        var pass1=$("#password").val();
        var pass2=$("#re-password").val();

        if(pass1.trim().length===0||pass2.trim().length===0)
        {
            return false;
        }
        else if(!passwordIsValid()||!passwordIsSame())
        {
            return false;
        }
        else
            return true;
    }
</script>

</html>

